### Example 1:

1. Complete the method **return_42**, by making it **return 42**
2. Create a method, which must be called **my_method**, which takes two arguments and returns the result of its two arguments multiplied together

In [1]:
# Complete the method by making sure it returns 42. .
def return_42():
    return 42

# Create a method below, called my_method, that takes two arguments and returns the result of its two arguments multiplied together.
def my_method(arg1, arg2):
    return arg1*arg2

### Example 2:

Create a functon that prints a sequence of integers from 1 to 100, and inplace of every multiple of 3 print “m3” and inplace of every multiple of 5 print  “m5” and if the number is a multiple of both print "m 3&5"

In [34]:
n = list(range(1,101))

for i in n: #rang(1,101)
    if i % 5 == 0 and i% 3==0:
        print ("m 3&5")
    elif i % 5 == 0:
        print ("m5")
    elif  i% 3==0:
        print ("m3")
    else:
        print (i)

1
2
m3
4
m5
m3
7
8
m3
m5
11
m3
13
14
m 3&5
16
17
m3
19
m5
m3
22
23
m3
m5
26
m3
28
29
m 3&5
31
32
m3
34
m5
m3
37
38
m3
m5
41
m3
43
44
m 3&5
46
47
m3
49
m5
m3
52
53
m3
m5
56
m3
58
59
m 3&5
61
62
m3
64
m5
m3
67
68
m3
m5
71
m3
73
74
m 3&5
76
77
m3
79
m5
m3
82
83
m3
m5
86
m3
88
89
m 3&5
91
92
m3
94
m5
m3
97
98
m3
m5

In [3]:

n = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for i in range(len(n)): #rang(1,101)
    if i% 3==0:
        print ("m 3")
    elif i % 5 == 0:
        print ("m5")
    elif  i % 5 == 0:
        if i% 3==0:
            print ("m3 &5")
    else:
        print (i)

m 3
1
2
m 3
4
m5
m 3
7
8
m 3
m5
11
m 3
13
14
m 3
16
17
m 3
19

### Examlpe 3:

Take two lists, say for example these two:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
  b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
    
Write a function that returns a list that contains only the elements that are common between the lists  Make sure your program works on two lists of different sizes.

In [6]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c=[]
d = set()

for i in a:
    if i in b:
        c.append(i)
        d.add(i)

In [8]:
print ('c: ',c)
print ('d: ',d)

c:  [1, 1, 2, 3, 5, 8, 13]
d:  {1, 2, 3, 5, 8, 13}

In [10]:
print (set(a) & set(b))

{1, 2, 3, 5, 8, 13}

### Example 4:

1.Create a dictionary variable, called **student**.
2. Modify a variable, **grades**, so it contains the value of a dictionary's key.
3. Implement a function calculating a total average grade for a class of students.

In [9]:
print (len((66, 77, 88)))

3

In [39]:
# Create a variable called student, with a dictionary.
# The dictionary must contain three keys: 'name', 'school', and 'grades'.
# The values for each must be 'Jose', 'Computing', and a tuple with the values 66, 77, and 88.
student = {'name': 'Jose', 'school': 'Computing', 'grades': (66, 77, 88)}
student_list = [{'name': 'Jose', 'school': 'Computing', 'grades': (66, 77, 88)},
               {'name': 'Jose', 'school': 'Computing', 'grades': (66, 77,88)},
               {'name': 'Jose', 'school': 'Computing', 'grades': (66, 77, 88)}]


# Assume the argument, data, is a dictionary.
# Modify the grades variable so it accesses the 'grades' key of the data dictionary.
def average_grade(data):
    grades =   data['grades'] 
    return sum(grades) / len(grades)


# Implement the function below
# Given a list of students (a list of dictionaries), calculate the average grade received on an exam, for the entire class
# You must add all the grades of all the students together
# You must also count how many grades there are in total in the entire list
def average_grade_all_students(student_list):
    total = 0
    count = 0
    for student in student_list:
        count += len(student['grades'])
        total += sum(student['grades'])

    return total / count

In [40]:
average_grade(student)

77.0

In [41]:
average_grade_all_students(student_list)

77.0

### Example 5:

1. Extract all of the keys in the following dictionary:
{"day 1": 1, "day 2": 2, "day 3": 3, "day 4": 4, "day 5": 5,"day 6": 6}

In [15]:
dictionary = {"day 1": 1, "day 2": 2, "day 3": 3, "day 4": 4, "day 5": 5,"day 6": 6}

In [9]:
for key in dictionary:
    print (key)

day 1
day 2
day 3
day 4
day 5
day 6

In [11]:
for key, value in dictionary.items():
    print (key, ':',value)

day 1 : 1
day 2 : 2
day 3 : 3
day 4 : 4
day 5 : 5
day 6 : 6

In [12]:
print(dictionary.keys())

dict_keys(['day 1', 'day 2', 'day 3', 'day 4', 'day 5', 'day 6'])

In [21]:
print ([*dictionary])

['day 1', 'day 2', 'day 3', 'day 4', 'day 5', 'day 6']

In [22]:
print (*dictionary)

day 1 day 2 day 3 day 4 day 5 day 6

### Example 6:

1. Extract the first 3 entries of the following list:
list1=[1,1,2,3,5,8,13,22]

In [13]:
print ([1,1,2,3,5,8,13,22][0:3])

[1, 1, 2]

In [14]:
print ([1,1,2,3,5,8,13,22][-3:])

[8, 13, 22]

### Example 7:

1. Extract student name from dictionary by using get() method: 

students= {'name': 'Dina ', 'id': 200086}

In [42]:
students= {'name': 'Dina ', 'id': 200086}

students.get('name')
print('hadeel')

hadeel

In [45]:
print('hadeel')
students.get('name')
students.get('name')
students.get('name')

hadeel

'Dina '

In [17]:
print(students['name'])

Dina

### Example 8:

1. Write a function that takes your name and returns it with upper case letters

In [15]:
def name_upper (name):
         return name.upper()


print(name_upper("ahmed"))

AHMED

In [19]:
print ("AHMED".isupper())

True